
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(80, 212, 201, 0.904);
    
  }
  .agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: underline wavy pink;
    font-family: 'Lobster', cursive;
    font-size: 50px;
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
  }

.search {
   
  font-size: 20px;
  margin-bottom: 1rem;
  margin-top: 20px;
  margin-bottom: 50px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.ul_contatos{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;

}
li{
  list-style:none
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem;
  width: 10rem;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: rgb(219, 90, 219);
  box-shadow: rgba(0, 0, 0, 0.973) 0px 2px 8px 0px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  margin: 40px;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.unico_ul{
  display: flex;
  flex-wrap: wrap;
  
}
.form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 30rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  background-color: pink;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.input {
  font-size: 20px;
  margin: 0.2rem;
}
.button {
  
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #ddd;
  background-color: pink;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all ease 0.3s;
  font-weight: bold;
}


@media all and (min-width:780px){
  body {
    display: flex;
    height: 100vh;
      background-color: #60d625
  }
}

@media all and (min-width:1200px){

body {
  display: flex;
  height: 100vh;
    background-color: #f03a8fe1;
}
  
 .agenda {
  text-decoration: underline wavy rgb(213, 226, 34);
  font-size: 50px;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
   
.add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 30rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  background-color: rgb(213, 226, 34);
  outline: none;
  font-size: 20px;
  font-weight: bold;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.tarjetas{
  background-color: #00BFE6;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
 
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #ddd;
  background-color: rgb(213, 226, 34);
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all ease 0.3s;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.input {
  font-size: 20px;

}
}
p{
  color: black;
}