
  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(80, 212, 201, 0.904);
    
  }
  .agenda{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: underline wavy pink;
    font-family: 'Shizuru', cursive;
   
  }
//   .cuadricula {
//   display: flex;
//   flex-direction: column;
// }
.search {
  
 
  font-size: 20px;
  margin-bottom: 1rem;
}

.ul_contatos{
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;

}
li{
  list-style:none
}

.tarjetas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 10rem;
    list-style: none;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: rgb(219, 90, 219);
  box-shadow: rgba(0, 0, 0, 0.973) 0px 2px 8px 0px;
  font-weight: bold;
  color: #fff;
  font-size: 15px;
  margin: 40px;
  text-align: center;
}
.unico_ul{
  display: flex;
  flex-wrap: wrap;
  
}

.form{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 30rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  background-color: pink;
  outline: none;
  font-size: 20px;
  font-weight: bold;
}
.input {
  font-size: 20px;
  margin: 0.2rem;
}
.button {
  
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #ddd;
  background-color: pink;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: all ease 0.3s;
  font-weight: bold;
}


@media all and (min-width:780px){
  body {
    display: flex;
    height: 100vh;
      background-color: pink;
  }
}

@media all and (min-width:1200px){

body {
  display: flex;
  height: 100vh;
    background-color: rgb(240, 176, 14);
}
.cuadricula {
  display: flex;
  flex-direction: column;
}
.search {
  display: inline-block;
  font-size: 20px;
}
.tarjetaColor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 1rem;
  padding: 1rem;
  width: 20rem;
  list-style: none;
  border-radius: 0.5rem;
  border: 1px solid #ddd;
  background-color: rgb(135, 90, 219);
  box-shadow: rgba(0, 0, 0, 0.973) 0px 2px 8px 0px;
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
.agenda {
  display: flex;
  justify-content: center;
}
.add {
  margin-right: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  width: 10rem;
  border: 2px solid #ddd;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  outline: none;
}

.button {
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  border: 1px solid #ddd;
  background-color: rgb(135, 90, 219);
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: all ease 0.3s;
}
.input {
  font-size: 20px;
  //color: black;
}
}
p{
  color: black;
}